gensim
ipython
nltk
numpy
pandas>=0.25.3
pathlib2
scipy
segeval
sentence-transformers
sklearn
tensorboard_logger
tensorflow
tensorflow_hub
termcolor
torch
tqdm>=4.40.2
transformers
umap-learn
xlrd
xlsxwriter
