gensim
ipython
nltk
numpy
pandas>=0.25.3
pathlib2
python>=3.7.5
scipy
segeval
sentence-transformers
skleran
tensorboard_logger
tensorflow
tensorflow_hub
termcolor
time
torch
tqdm>=4.40.2
transformers
umap-learn
xlrd
xlsxwriter